/*-----------------------------------------------------------------------------
    base
-----------------------------------------------------------------------------*/
html {
  font-family: $font1;
  font-size: 100%;
}

a,
button,
input,
textarea {
  outline: none;
}

a,
button {
  cursor: pointer;
}
/*-----------------------------------------------------------------------------
    /base
-----------------------------------------------------------------------------*/