$base-fontsize: 16;


// Fonts
$font1: 'ProximaNova', 'Helvetica Neue', Helvetica, sans-serif;
$font2: 'Panton', 'Helvetica Neue', Helvetica, sans-serif;

// Colors
$demonstration-color-1: #b3e5fc;
$demonstration-color-2: #01579b;
$color1: #000;

// Screens
$screen1: max-width 1580px;
$screen2: max-width 1180px;
$screen3: max-width 720px;
$screen4: max-width 320px;
