<footer class="footer" ngf-background="user.background || background || 'img/no-background.jpg'">
    <div class="container">
        <div class="footer_section1">Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться ими со всем миром!
        </div>
        <div class="footer_top">
            <a class="footer_top-link">
                <svg class="footer_top-icon" ng-click="footer.scrollToTop()">
                    <use xlink:href="img/sprite.svg#top"></use>
                </svg>
            </a>
        </div>
        <div class="footer_section2"> 2016 | Создано командой профессионалов на продвинутом курсе по веб-разработке от LoftSchool
        </div>
    </div>
</footer>